body {
  margin: 0;
}

.container {
  display: inline-block;
  background-color: #fbf7e3;
  border-radius: 10rem;
  margin-top: 2rem;
}

.logo img {
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
}
.box-info {
  color: #612406;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  display: flex; /* Utilizziamo flexbox per posizionare il testo accanto al box 1 */
}

#box-1 {
  font-size: 1.5rem;
  margin: 3rem;
}

#box-1 h2 {
  line-height: 0;
}

#box-1 p {
  margin-left: 1rem;
}

#text {
  margin-top: 5rem;
  font-size: 2rem;
}

#button {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#button button {
  cursor: pointer;
  border-radius: 4rem;
  padding: 1.5rem 6rem;
  height: auto;
  border: 1px solid transparent;
  background-color: #f3df85;
  display: flex;
  font-size: 2rem;
  color: #612406;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
